.Contact {
	width:80%;
	margin:0 auto;
	text-align:center;
	padding:15px 10px;
	box-shadow: 0 2px 3px #ccc;
	border:1px solid #eee;
}

.Input {
	display:block;
}

@media (min-width: 600px) {
	.Contact {
		width:500px;
	}
} 